<aside class="left">
  <%= image_tag 'camel.jpg', width: '160px' %>

  <ul>
    <%= render 'aside_li' %>
  </ul>

  <br><br>
  <p>"Do something important in life. I convert green grass to code."<br>- Mr Camel</p>
</aside>